# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Sistema operativo
Thumbs.db
.DS_Store

# Archivos temporales
*.tmp